
.mulish-font{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.hero-travel{
    display: flex;
    align-items: center;
    /* margin-left: 135px; */
    gap: 16px;
}
.hero-travel h2{
    font-size: 2.25rem;
    font-weight: 800;
    color: #131318;
}
.logo{
    color: #FF5400;
}
nav{
    width: 1178px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 135px;
    
}
.nav-link{
    display: flex;
    /* margin-right: 10px; */

}
.nav-link a{
    text-decoration: none;
    margin-right: 40px;
    color: #131318;
}
.nav-link li{
    list-style: none;
}
.home a{
    color: #FF5400;
}
.hero{
    width: 1170px;
    /* border: 2px solid red; */
    border: no;
    border-radius: 10px;
    margin-left: 132px;
    margin-top: 48px;
    background-image: url(../img/Group\ 13\ \(1\)\ \(1\).png);
    /* margin-left: 135px;
    margin-top: 48px;
    background-image: url(../img/Group\ 13\ \(1\)\ \(1\).png); */
    background-repeat: no-repeat;
    
}

.hero-title{
    width: 676px;
    margin-left: 247px;
    /* margin-top: 106px; */
    text-align: center;
    /* width: 800px;
    margin-top: 106px;
    margin-left: 185px;
    text-align: center; */
    /* border: 2px solid red; */
    padding-top: 106px;
}
.hero-title h1{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
    color: #FFFFFF
    
}
.hero-title p{
    color: #FFFFFF;
    margin-bottom: 58px;
}
.hero-container{
    width: 800;
    padding-bottom: 20px;
    /* border: 1px solid red; */
}
.btn{
    width: 700px;
    /* border: 2px solid red; */
    margin-left: 240px;
    text-align: center;
    padding: 16px 1px;
    border-radius: 14px;
    border: none;
    background-color: #decece;
    margin-bottom: 90px;
    /* padding-bottom: 100px; */
    
    
}
.btn-1{
    padding: 12px 30px;
    margin-right: 30px;
    border-radius: 10px;
    border: none;
}
.btn-2{
    padding: 12px 40px;
    margin-right: 30px;
    border-radius: 10px;
    border: none;
}
.btn-3{
    padding: 12px 30px;
    margin-right: 30px;
    border-radius: 10px;
    border: none;
    background-color: #FF5400;
}
.btn-4{
    padding: 12px 40px;
    margin-right: 30px;
    border-radius: 10px;
    border: none;
}
.tour{
    width: 1440px;
}
.tour-container{
    width: 1170px;
    margin-left: 135px;
    display: flex;
    margin-top: 100px;
    gap: 53px;
}
.tour-descrip{
    width: 577px;
}
.tour-photo{
    width: 540px;
}
.tour-descrip h2{
    font-size: 2.25rem;
    font-weight: 800;
    color: #131318;
    margin-bottom: 24px;
}
.tour-descrip p{
    margin-bottom: 28px;
    line-height: 26px;
}
.tour-descrip li{
    margin-bottom: 16px;
    margin-left: 14px;
    line-height: 26px;
}
.btn-5{
    padding: 14px 34px;
    border-radius: 8px;
    border: none;
    background-color: #FF5400;
    color: #FFFFFF;
    margin-top: 37px;
}
.destination{
    width: 1440px;
    /* border: 2px solid red; */
}
.destination-container{
    width: 1170px;
    margin-left: 135px;
    margin-top: 100px;
    /* margin-bottom: -150px; */
}
.destination-grid{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 250px);
    width: 1170px;
}
.destination-grid img{
    width: 100%;
    height: 100%;
}
.norn-lay{
    grid-column: span 2;
    grid-row: span 0;
}
.big-lay{
    grid-column: span 3;
    grid-row: span 0;
}
.destination-grid div{
    position: relative;
}
.destination-grid strong{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;

}
.destination-descrip{
    width: 643px;
    margin-left: 250px;
    text-align: center;
    margin-bottom: 45px;
}
.destination-descrip h2{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.choose{
    width: 1440px;
}
.choose-container{
    width: 1170px;
    margin-left: 135px;
    margin-top: 100px;
    
}
.choose-title{
    width: 643px;
    margin-left: 250px;
    text-align: center;
}
.choose-title h2{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.card-1 {
    width: 550px;
    background: rgb(241, 226, 184);
    border-radius: 5px;
    border: none;
}
.card-1 p{
    line-height: 26px;
    margin-top: 20px;
    padding-left: 5px;
}
.card-1 h4{
    padding-top: 10px;
    font-weight: 800;
    padding-left: 5px;
}
.card-2 p{
    line-height: 26px;
    margin-top: 20px;
    padding-left: 5px;
}
.card-2 h4{
    padding-top: 10px;
    font-weight: 800;
    padding-left: 5px;
}
.card-2 {
    width: 550px;
    background: rgb(221, 232, 237);
    border-radius: 5px;
    border: none;
}
.choose-card{
    display: flex;
    margin-left: 30px;
    gap: 20px;
    margin-top: 30px;
}
.choose-card2{
    width: 550px;
    background: rgb(241, 226, 184);
    margin-left: 300px;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
}
.choose-card2 p{
    line-height: 26px;
    margin-top: 20px;
    padding-left: 5px;
}
.choose-card2 h4{
    padding-top: 10px;
    font-weight: 800;
    padding-left: 5px;
}
.deal-book{
    position: relative;
    margin-bottom: 10px;
}
.deal-book strong{
    position: absolute;
    width: 500px;
    left: 47%;
    top: 20%;
    padding-left: 30px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #ffffffc1;
    border-radius: 8px;
}
.deal-book .odd{
    position: absolute;
    width: 500px;
    left: 5%;
    top: 20%;
    padding-left: 30px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #ffffffc1;
    border-radius: 8px; 
}
.btn-6{
    background: none;
    border: none;
    margin-right: 15px;
    margin-top: 15px;
}
.btn-8{
    border-radius: 8px;
    border: none;
    background: #FF5400;
    color: #FFFFFF;
    padding: 12px 24px;
    margin-bottom: 20px;
}
.btn-9{
    border-radius: 8px;
    border: none;
    background: #FF5400;
    color: #FFFFFF;
    padding: 12px 24px;
    margin-bottom: 20px;
    font-weight: 500;
    margin-left: 480px;
}
.deal-book .price{
    color: #FF5400;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 18px;
}
.deal-book strong h4{
    font-size: 1.25rem;
    font-weight: 700;
    color: #131318;
    margin-bottom: 14px;
    margin-top: 15px;
}
.deal-book strong p{
    font-size: 1rem;
    font-weight: 500;
}
.deal{
    width: 1440px;

}
.deal-container{
    width: 1170px;
    margin-left: 135px;
}
.deal-title{
    width: 643px;
    margin-left: 250px;
    text-align: center;
    margin-top: 100px;
}
.deal-title h2{
font-size: 2.25rem;
font-weight: 800;
color: #131318;
margin-bottom: 24px;
}
.deal-title p{
    margin-bottom: 28px;
}
.simple{
    width: 1440px;
}
.simple-container{
    width: 1170px;
    margin-left: 135px;
    display: flex;
    margin-top: 100px;
    gap: 28px;
}
.simple-title h2{
font-size: 2.25rem;
font-weight: 800;
color: #131318;
margin-bottom: 24px;
}
.simple-title p{
    margin-bottom: 24px;
}
.simple-title li{
    line-height: 26px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}
.simple-title button{
    padding: 13px 40px;
    background-color: #FF5400;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    margin-top: 44px;
}
.simple-photo{
    position: relative;

}
.simple-photo strong{
    position: absolute;
    top: 42%;
    left: 28%;
    color: #FFFFFF;
    font-size: 1.5rem;
    text-align: center;
}


@media screen and (max-width: 576px) {
    nav{
        width: 375px;
        margin-left: 60px;
    }
    .nav-link a{
        display: none;
    }
    .hero-travel{
        margin-left: 1px;
        padding-left: 1px;
    }
    .hero{
        width: 335px;
        background-repeat: no-repeat;
        background: none;
        background-image: url(../img/Group\ 13\ \(1\)\ \(1\).png);
        background-repeat: no-repeat;
        margin-left: 60px;

        
    }
    .hero-title{
        width: 305px;
        margin-left: 10px;
        margin-top: 10px;
        padding-top: 5px;
    }
    .hero-container{
        width: 305px;
        
    }
    .btn{
        width: 305px;
        margin-left: 16px;
        padding-top: 6px;
        padding-bottom: 5px;
        padding-left: 5px;
        background: none;
        margin-bottom: 10px;

        
    }
    .hero-title p{
        margin-bottom: 15px;
    }
    .tour{
        width: 335px;
        
    }
    .tour-container{
        width: 334px;
        display: inline;
        
    }
    .tour-descrip{
        width: 332px;
        margin-left: 70px;
    }
    .tour-photo img{
        width: 332px;
        margin-left: 65px;
    }
    .btn-5{
        margin-top: -5px;
        margin-bottom: 10px;
    }
    .destination-container{
        width: 335px;
        margin-left: 65px;
        margin-top: 10px;
    }
    .destination-grid{
    display: inline;
    gap: 10px;
    
}
.destination-grid img{
    width: 335px;
    height: 200px;
}
.destination-descrip{
    width: 331px;
    margin-left: -1px;
}
.choose{
    /* width: 335px; */
    /* margin-left: 10px; */
}
.choose-container{
    width: 335px;
    margin-left: 69px;
    margin-top: 15px;
}
.choose-card{
    display: inline;
    margin-left: 1px;
    
}
.choose-card2{
    width: 334px;
    margin-left: 1px;
}
.card-1{
    width: 334px;
    margin-bottom: 30px;
}
.card-2{
    width: 334px;
}
.choose-title{
    width: 334px;
    margin-left: -5px;
}
.deal-container{
    width: 335px;
    margin-left: 69px;
    
}
.deal-title{
    width: 334px;
    margin-left: -1px;
    margin-top: 50px;
}
.deal-book{
    width: 335px;
    position: relative;
}
.deal-book img{
    width: 335px;
    height: 480px;
}
.deal-book strong{
    width: 240px;
    position: absolute;
    top: 25%;
    left: 5%;
    border-radius: 30px;
}
.deal-book .odd{
   width: 240px;
    position: absolute;
    top: 25%;
    left: 5%;
    border-radius: 30px;  
}
.btn-9{
    margin-left: 85px;
}
.simple-container{
    width: 335px;
    display: inline;

}
.simple-title{
    width: 332px;
    margin-left:74px;
}
.simple-title button{
    margin-top: 2px;
    margin-bottom: 10px;
}
.simple-photo img{
    width: 335px;
    margin-left: 65px;
}
.simple-photo{
    position: relative;
}
.simple-photo strong{
    position: absolute;
    top: 40%;
    left: 7%;
}
    
}